doctype html
html(lang="fr")
  head
    title= pageTitle
    link(rel="stylesheet" href='./style')
  body
    h1= pageTitle
    button(type='button' onclick='openChat()' id='openChat') open chat
      
    script(src='./chat')
