doctype html
html(lang="fr")
  head
    title= pageTitle
    link(rel="stylesheet" href='./style')
  body
    h1= pageTitle
    button(type='button' onclick='openChat()' id='openChat') open chat


    div(id='connectionForm' style='display: none')
      input(type="text" id='connectionForm_username' placeholder='username')
      input(type="text" id='connectionForm_email' placeholder='email')
      button(type='button' onclick='connecToChat()') connect

    
    div(id='chat' style='display: none')
      div(id='chat_messages-history')
      input(type="text" id='chat_message')
      button(type='button' onclick='sendMessage()') send
      
    script(src='./chat')
